*{
	box-sizing: border-box;
}
body{
	font-family: monospace;
	font-size: 16px;
}
h1{
	text-align: center;
	font-size: 175%;
}
h4{
	font-size: 125%;
}
div.box{
	margin: 2%;
	background-color: grey;
	border: 1px solid black;
	padding: 10px;
	float: left;
	width: 28%;
	height: auto;
	position: relative;
	left: 30px;
	top: 10px;
}
#pink h4{
	
 position: absolute;
 right: -1px;
 top: -1px;
 margin: 0px;
 width: 30%;
 background-color: pink;
 text-align: center;
 border: 1px solid black;
 padding: 2px;
}
p{
	margin-top: 20px;
}


#red h4{	
 position: absolute;
 right: -1px;
 top: -1px;
 margin: 0px;
 width: 30%;
 background-color: darkred;
 color: white;
 text-align: center;
 border: 1px solid black;
 padding: 2px;
}

#yellow h4{	
 position: absolute;
 right: -1px;
 top: -1px;
 margin: 0px;
 width: 30%;
 background-color: yellow;
 text-align: center;
 border: 1px solid black;
 padding: 2px;
}

@media (min-width: 768px) and (max-width: 991px)
{
 #chicken,#beef{
 	width: 43%;
 }
 #sushi{
 	width: 90%;
 }
}
@media (max-width: 767px)
{
	#chicken,#beef,#sushi{
		width: 90%;
	}
}
